.popup__button-success{
    left: 240px;
    top: -320px;
}
@media screen and (max-width: 690px){
    .popup__button-success{
        left: 130px;
        top: -330px;
        width: 20px;
        height: 20px;
    }
}