.element__delete-element{
    background-image: url(../../../images/Group.svg);
    width: 18px;
    height: 18px;
    position: relative;
    bottom: calc(361px - 20px - 30px);
    margin-left: calc(282px - 20px - 18px);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s linear;
}

.element__delete-element:hover{
    opacity: 0.6;
}